/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.simple-container {
  max-width: 400px;
  margin: 48px auto;
  padding: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

 
}